# Env variables setup
# copy env.example to .env to configure

# Timezone in what dates should be converted to
EVENTUM_TIMEZONE=Europe/Tallinn

# Hostname where Eventum is installed
EVENTUM_DOMAIN=eventum.example.net

# Access to Eventum RPC
EVENTUM_RPC_URL=https://eventum.example.net/rpc/xmlrpc.php
EVENTUM_USERNAME=eventum@example.net
EVENTUM_ACCESS_TOKEN=xxx
